.container {
  background-color: lighten($color: gainsboro, $amount: 8);
  padding-top: 50px;
  margin-top: 0;
}

.candidate-name {
  margin: auto;
}

.candidate-party {
  margin: auto;
}

.candidate-prop {
  margin: auto;
}

.candidate-prop-label {
  font-weight: bold;
}

.total-funding {
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  margin: auto;
}

.total-funding-tooltip {
  text-align: right;
  margin: auto;
}