@import '~@trussworks/react-uswds/lib/index.css';
@import '~@trussworks/react-uswds/lib/uswds.css';

/* GLOBAL STYLES */
body {
  background-color: #eff3fe;
  min-height: 100%;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

a {
  color: #3C64B1;
  text-decoration: none;
}

a:hover {
  color: #9C9C9C;
}


/* HEADER */
.usa-header {
  background-color: #fff;
  padding-bottom: 12px;
}

.usa-nav__primary .usa-nav__primary-item a {
  font-size: 15px;
}

/* SEARCH PAGE */
.search-page {
  margin-top: 150px;
  margin-bottom: 138px;
}

.search-header {
  text-align: center;
  font-size: 50px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.home-search {
  justify-content: center;
  text-align: center;
}

/* SEARCH BAR */
.quick-search-btns {
  margin: 20px;
}
.quick-search {
  display: inline;
  padding-right: 10px;
}

.search-component {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

@media only screen and (max-width: 956px) {
  .quick-search-btns {
    display: inline-grid;
  }

  .search-btn {
    margin: 5px;
  }
}

/* REPORT ERROR MODAL + BTN */
.report-btn {
  background-color: #8F110E;
}

/* FOOTER */
.usa-footer {
  position: relative;
  bottom: -108px;
}

.footer-nav {
  display: flex;
}
