@import '~@trussworks/react-uswds/lib/index.css';
@import '~@trussworks/react-uswds/lib/uswds.css';

/* GLOBAL STYLES */
#root {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

html,
body {
  background-color: #eff3fe;
  height: 100%;
  position: relative;
}

h1 {
  text-align: center;
}

p {
  font-size: 1em;
}

a {
  color: #3c64b1;
  text-decoration: none;
}

a:hover {
  color: #9c9c9c;
}

/* HEADER */
.usa-header {
  background-color: #fff;
}

.usa-nav__primary .usa-nav__primary-item a {
  font-size: 1em;
}

.usa-menu-btn {
  margin-left: auto;
}

/* SEARCH PAGE */
.search-page {
  margin-top: 150px;
  margin-bottom: 138px;
}

.search-header {
  text-align: center;
  font-size: 3em;
}

.home-search {
  justify-content: center;
  text-align: center;
}

/* SEARCH BAR */
.quick-search-btns {
  margin: 20px;
}
.quick-search {
  display: inline;
  padding-right: 10px;
}

.search-component {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

@media only screen and (max-width: 956px) {
  .quick-search-btns {
    display: inline-grid;
  }

  .search-btn {
    margin: 5px;
  }
}

/* REPORT ERROR MODAL + BTN */
.report-btn {
  background-color: #8f110e;
}

/* FOOTER */
.usa-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-nav {
  display: flex;
}
